@font-face{
    font-family: 'medium';
    src:url(../fonts/Brandon_blk.otf);
}
@font-face{
    font-family: 'bold';
    src:url(../fonts/Brandon_bld.otf);
}
@font-face{
    font-family: 'light';
    src:url(../fonts/Brandon_light.otf);
}
@font-face{
    font-family: 'thin';
    src:url(../fonts/Brandon_thin.otf);
}
@font-face{
    font-family: 'regular';
    src:url(../fonts/Brandon_reg.otf);
}


header{
    min-height: 620px;
    background-image: url(../images/header_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_img{
    margin-left: 75px;
}

.haeder_nav {
    padding: 55px 55px;
}

.haeder_nav ul li a {
    font-family: 'medium';
    color: white !important;
    font-size: 14px;
    padding: 0px 25px !important;
}

.header_text{
    padding: 70px 0;
}
.header_text h3{
    font-family: 'light';
        font-size: 25px;
    color: white;
    margin-top: 5px;
}
.header_text h1{
    font-family: 'bold';
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    padding: 30px 0;
}
.custom_btn{
    font-family: 'bold';
       color: white !important;
    border-color: white !important;
    border: 2px solid white;
    width: 200px;
    font-size: 18px;
    font-weight: bolder;
}
.custom_btn:hover{
    background: #47484B !important;
}

.development{
    min-height: 450px;
}
.development_text{
    padding: 60px 0;
}
.development_text h1{
    font-family: 'light';
        font-size: 35px;
    font-weight: normal;
    color: #575757;
}
.development_text span{
    font-family: 'bold';
    font-size: 35px;
    font-weight: bold;
    color: #222222;
}
.development_text p{
    font-family: 'regular';
    padding: 20px 0;
       font-size: 14px;
    font-weight: normal;
}
.development_text h4{
    font-family: 'regular';
    padding: 10px 0;
       font-size: 14px;
    font-weight: normal;
}
.devo_img{
    padding: 60px 0;
}

.identy{
    min-height: 450px;
    background-color: #FAFAFA;
}
.identy_img{
    padding: 60px 0;
}

.identy_text{
    padding: 60px 0;
}
.identy_text h1{
    font-family: 'light';
        font-size: 35px;
    font-weight: normal;
    color: #575757;
}
.identy_text span{
    font-family: 'bold';
    font-size: 35px;
    font-weight: bold;
    color: #222222;
}
.identy_text p{
    font-family: 'regular';
    padding: 20px 0;
       font-size: 14px;
    font-weight: normal;
}
.identy_text h4{
    font-family: 'regular';
    padding: 10px 0;
    font-size: 14px;
    font-weight: normal;
}
.slider{
    min-height: 600px;
    padding: 100px 0;
}
.slider_img{
    padding-left: 65px;
}
.slider h1{
    font-family: 'medium';
    font-size: 18px;
    font-weight: bold;
}
.slider p{
    font-family: 'regular';
     font-size: 14px;
    font-weight: normal;
}
.slider_margin{
    padding: 30px 0;
}

.clients{
    min-height: 750px;
    background-color: #FAFAFA;
    padding: 40px 0;
}
.clients_head{}
.clients_head h1{
    font-family: 'light';
     font-size: 42px;
    font-weight: normal;
    color: #222222;
}
.clients_head span{
    font-family: 'bold';
    font-size: 45px;
    font-weight: bold;
    color: #222222;
}
.clients_head p{
    font-family: 'regular';
    color: #777777;
    font-size: 16px;
    font-weight: normal;
}

.clients_text{
    padding: 40px 0;
}
.clients_text h1{
    font-family: 'regular';
    font-size: 17px;
    color: #9B9B9B;
    padding-left: 45px;
}
.clients_text h4{
    font-family: 'regular';
    font-size: 13px;
    color: blue;
    padding-left: 45px;
}
.clients_margin{
    padding: 40px 0;
}
.logo4{
    min-height: 150px;
    padding: 45px 0;
    background-color: #FFFFFF;
}
.logoes{}
.team{
    min-height: 800px;
    background-color: #111111;
    padding: 70px 0;
}
.team_head{}
.team_head h1{
    font-family: 'light';
    font-size: 40px;
    font-weight: normal;
    color: #FFFFFF;
}
.team_head span{
    font-family: 'bold';
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}
.team_head p{
    font-family: 'regular';
    font-size: 15px;
    color: #9B9B9B;
}
.clients_marginimg{
    padding: 50px 0;
}
.clients_foot{
    padding: 20px 0;
}
.clients_foot p{
    font-family: 'regular';
    font-size: 17px;
    color: #FFFFFF;
}

footer{
    min-height: 600px;
    background-color: #7690C5;
    padding: 20px 0;
}
.footer_text{
    padding: 70px 0;
}
.footer_text h1{
    font-family: 'light';
    font-size: 40px;
    font-weight: normal;
    color: #FFFFFF;
}
.footer_text span{
    font-family: 'bold';
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}
.footer_text p{
    font-family: 'regular';
    font-size: 16px;
    color: #FFFFFF;
}
.footer_rightbar{
    font-family: 'regular';
    padding: 60px 0;
}
.footer_icons{}
.footer_icons h1{
    font-family: 'regular';
    padding: 15px 0;
    font-size: 14px;
    color: #FFFFFF;
}
.footer_icons span{
}

.footer_foot{
    
}
.foot_text{
    padding-bottom: 10px;
}
.foot_text h6{
    font-family: 'regular';
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 110px;
}
.message{
    font-family: 'regular';
   height: 150px;
    width: 350px;
    border-radius: 5px;
    border: none;
    padding: 60px 14px;
    margin: -20px 0px 0px 0px;
}










